extends layouts/default.pug

block content
  main
    h1 Advanced JQuery UI Widgets

      h6 Progress Bar

      p Shows the progress of some type of event in the browser.

      +codeMulti('Javascript', '$("#progress1").progressbar({', '  value: 40', '});')

      section.example-area
        h6 Code in Action - Example 1
        article.example-area__samples
          section.advanced-widget-one
            p Progressbar control 1
            div#progress1.progressbar
            p Progressbar control 2 - gives feedback upon completion
            div#progress2.progressbar
            button#increaseProgress2(style="margin: -1rem 0 2rem;") Increase Progress
            p Progressbar control 3 - indeterminate
            div#progress3.progressbar

      h6 Autocomplete

      p Helps to complete strings from a predefined list.

      +codeMulti('Javascript', '$("#auto2").autocomplete({', '  source: fruitNames,', '  autoFocus: true', '});', '', 'var fruitNames = [', '  "Apple",', '  "Banana",', '  "Cantaloupe",', '  "Grape",', '  "Grapefruit",', '  "Lemon",', '  "Lime",', '  "Mandarin Orange",', '  "Orange",', '  "Watermelon"', ']')

      section.example-area
        h6 Code in Action - Example 2
        article.example-area__samples
          section.advanced-widget-two
            p Autocomplete - Basic Setup
            label Type the name of a fruit: 
            input(type="text")#auto1
            p Autocomplete - Advanced Setup
            label Type the name of a vegetable: 
            input(type="text")#auto2

      h6 Dialog (Popup)

      p A popup message that has extra features

      +codeMulti('Javascript', '...')

      section.example-area
        h6 Code in Action - Example 3
        article.example-area__samples
          section.advanced-widget-three
            p Dialog - Basic Setup
            button#openDialog1 Open Dialog 1
            #dialog1(title="Dialog Message")
              p This is a dialog box message.
            p Dialog - With Controls
            button#openDialog2 Open Dialog 2
            #dialog2(title="Dialog Message")
              p This is a second dialog box message.
            p Dialog - With Advanced Controls
            button#openDialog3 Open Dialog 3
            #dialog3(title="Dialog Message")
              p This is a third dialog box message.

      h6 Datepicker

      p Versatile control for date selections.

      +codeMulti('Javascript', '...')

      section.example-area
        h6 Code in Action - Example 4
        article.example-area__samples
          section.advanced-widget-four
            p Datepicker - without options
            label Select a date: 
            input(type="text")#datepick1
            p Datepicker - with options
            label Select a date: 
            input(type="text")#datepick2

      h6 Tabs Control

      p Tabbed tools to create panels to show content.

      +codeMulti('Javascript', '...')

      section.example-area
        h6 Code in Action - Example 5
        article.example-area__samples
          section.advanced-widget-five
            p Tabs control - basic
            div#tabsControl1
              ul
                li
                  a(href="#tab1") Tab 1
                li
                  a(href="#tab2") Tab 2
                li
                  a(href="#tab3") Tab 3
                li
                  a(href="#tab4") Tab 4
              #tab1
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam animi eaque temporibus, mollitia, illo consequuntur obcaecati ex perspiciatis voluptatem quo accusamus iure, officiis sed dolor. Dolores sint vitae magni provident cupiditate natus mollitia hic dolore et, eaque veritatis blanditiis fugiat.
              #tab2
                p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi sequi sit atque. Libero nostrum sequi iste doloremque ullam nulla! Vero, quidem. Nemo, dignissimos blanditiis illo aliquid recusandae a labore, dolore repellat, sequi accusamus at error.
              #tab3
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque voluptatem, nam explicabo fuga minima sapiente minus inventore ipsam perferendis labore.
              #tab4
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam consequatur tempora vero sed autem. Ut id amet error fugiat, delectus molestias cum dolorem reprehenderit labore praesentium? Adipisci voluptate minima iure.
            p Tabs control - with options
            div#tabsControl2
              ul
                li
                  a(href="#tab1") Tab 1
                li
                  a(href="#tab2") Tab 2
                li
                  a(href="assets/tabs/tab3.html") Tab 3
                li
                  a(href="assets/tabs/tab4.html") Tab 4
              #tab1
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam animi eaque temporibus, mollitia, illo consequuntur obcaecati ex perspiciatis voluptatem quo accusamus iure, officiis sed dolor. Dolores sint vitae magni provident cupiditate natus mollitia hic dolore et, eaque veritatis blanditiis fugiat.
              #tab2
                p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi sequi sit atque. Libero nostrum sequi iste doloremque ullam nulla! Vero, quidem. Nemo, dignissimos blanditiis illo aliquid recusandae a labore, dolore repellat, sequi accusamus at error.