extends layouts/default.pug

block content
  main
    h1 Basic JQuery UI Widgets

      h6 Spinner control

      p The spinner is a control attached to the textbox that increments numbers using up and down arrows.

      +codeMulti('Javascript', '$("#spin1").spinner();')

      +codeMulti('Javascript', '$("#spin2").spinner();', '$("#spin2").spinner("value", 1);')
      
      +codeMulti('Javascript', '$("#spin3").spinner({', '  min: 0,', '  max: 500', '  step: 10,', '  page: 10', '});', '$("#spin3").spinner("value", 50);')

      section.example-area
        h6 Code in Action - Example 1
        article.example-area__samples
          section.basic-widget-one
            p Spinner - no arguments
            input(type="text")#spin1
            p Spinner - value argument
            input(type="text")#spin2
            p Spinner - object arguments and readonly
            input(type="text" readonly)#spin3

      h6 Slider control

      p The slider is a control that moves along an axis and runs between one value to another.

      +codeMulti('Javascript', '$("#slide1").slider();')

      +codeMulti('Javascript', '$(document).ready(function() {', '  $("#slide2").slider({', '    animate: 1000', '  });', '});')

      +codeMulti('Javascript', '$(document).ready(function() {', '  $("#slide3").slider({', '    value: 25,', '    min: 0,', '    max: 200,', '    step: 25,', '    animate: 500,', '    slide: function(evt, elem) {', '      $("#amt").text(elem.value);', '    },', '    start: function(evt, elem) {', '      $("#amt").addClass("heavyText");', '    },', '    stop: function(evt, elem) {', '      $("#amt").removeClass("heavyText");', '    }', '  });', '  $("#amt").text($("#slide3").slider("value"));', '});')

      +codeMulti('Javascript', '$(document).ready(function() {', '  $("#slide4").slider({', '    range: true,', '    min: 500,', '    max: 5000,', '    values: [1500, 3000],', '    slide: function(evt, elem) {', '      $("#val1").text(elem.values[0]);', '      $("#val2").text(elem.values[1]);', '    }', '  });', '  $("#val1").text($("#slide4").slider("values", 0));', '  $("#val2").text($("#slide4").slider("values", 1));', '});')

      section.example-area
        h6 Code in Action - Example 2
        article.example-area__samples
          section.basic-widget-two
            p Slider - no arguments
            div#slide1
            p Slider - animate argument
            div#slide2
            p Slider - custom slider - value: 
              span#amt ...
            div#slide3
            p Slider - range slider - values: 
              span#val1 ...
              |to 
              span#val2 ...
            div#slide4

      h6 Select Menu control

      p The select menu is a control that allows a user to select an option from a dropdown list.

      +codeMulti('Javascript', '$("#selectmenu1").selectmenu();')

      +codeMulti('Javascript', '$("#selectmenu1").selectmenu();')

      +codeMulti('Javascript', '$("#selectmenu1").selectmenu({', '  icons: { button: "ui-icon-lightbulb" }', '}).selectmenu("menuWidget").addClass("fixedHeight");')

      section.example-area
        h6 Code in Action - Example 3
        article.example-area__samples
          section.basic-widget-three
            p Select Menu - no arguments
            div
              select#selectmenu1
                option Apple
                option(selected) Grape
                option Orange
                option Banana
                option Lemon
                option Strawberry
            p Select Menu - option group specified
            div
              select#selectmenu2
                optgroup(label="Fruit")
                  option Apple
                  option Grape
                  option Orange
                optgroup(label="Vegetable")
                  option Celery
                  option Lettuce
                  option Green Pepper
            p Select Menu - long list limited sizing and altered button icon
            div
              select#selectmenu3
                option 1
                option 2
                option 3
                option 4
                option 5
                option 6
                option 7
                option 8
                option 9
                option 10
                option 11
                option 12
                option 13
                option 14
                option 15
                option 16
                option 17
                option 18
                option 19
                option 20

      h6 Accordion control

      p The accordion control will break up groups of information into more manageable viewing layouts.

      +codeMulti('Javascript', '$("#accordionControl1").accordion();')

      section.example-area
        h6 Code in Action - Example 4
        article.example-area__samples
          section.basic-widget-four
            p Accordion Control
            div#accordionControl1
              h3 Selection One
              div
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae cupiditate omnis maiores eum consequuntur, quod adipisci perspiciatis id aliquam. Illum illo consequatur iusto quia neque, aut labore alias. Iure, dignissimos?
              h3 Selection Two
              div
                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorem obcaecati corporis labore quod odit ratione tenetur deleniti voluptatem, maiores, provident quam expedita sint. Iure quam deleniti iusto.
              h3 Selection Three
              div
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, earum voluptatem soluta officia sunt necessitatibus. Eos numquam odio sunt culpa sapiente, quo unde recusandae, hic ex optio, id quod?
