extends layouts/default.pug

block content
  main
    h1 Behaviors and Effects

      h6 Resize

      p Resize an element using a handle to move the element in the vertical and horizontal direction.

      +codeMulti('Javascript', '$("#resize1").resizable();')

      section.example-area
        h6 Code in Action - Example 1
        article.example-area__samples
          section.behaviors-one
            div#resize1.resize
              h2 Resize Div
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem aliquam accusantium saepe quae, ducimus aspernatur!
            div#resize2.resize
              h2 Resize Div 2
              p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel, laboriosam! Ut tenetur fugit quisquam qui temporibus deserunt numquam eaque.
            div#resize3.resize
              h2 Resize Div 3
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, libero!
            div#resize4.resize
              h2 Resize Div 4
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut!

      h6 Drag and Drop

      p Implement a drag and drop behavior.

      +codeMulti('Javascript', '$("#drag1").draggable();')

      section.example-area
        h6 Code in Action - Example 2
        article.example-area__samples
          section.behaviors-two
            div#drag1.dragDiv
              h2 Drag
              p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi quidem sint vel veritatis ullam?
            div#drag2.dragDiv
              h2 Handle
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias tempora eius dolor recusandae quibusdam accusantium voluptatem perferendis.
            div#drag3.dragDiv
              h2 Drag to Drop Zone
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, veniam.
            div#dropArea.target
              h2 Drop Area

      h6 Animate Colors

      p JQuery can animate colors similar to how it animates movement.

      +codeMulti('Javascript', '$("#animateColor").animate({', '  backgroundColor: "red",', '  color: "white",', '  borderColor: "green"', '}, 800);')

      section.example-area
        h6 Code in Action - Example 3
        article.example-area__samples
          section.behaviors-three
            div#animateColor
              p Some basic text here...
            button#animate1 Animate Color One
            button#animate2 Animate Color Two
      
      h6 Hide/Show

      p JQuery can animate colors similar to how it animates movement.

      +codeMulti('Javascript', '$("#animateColor").animate({', '  backgroundColor: "red",', '  color: "white",', '  borderColor: "green"', '}, 800);')

      section.example-area
        h6 Code in Action - Example 3
        article.example-area__samples
          section.behaviors-three
            div#hideShow
              p Hiding and Showing
            button#show1 Show Blind
            button#hide1 Hide Blind
            button#show2 Show Bounce
            button#hide2 Hide Bounce
            button#show3 Show Explode
            button#hide3 Hide Explode
            button#show4 Show Highlight
            button#hide4 Hide Highlight
            button#show5 Show Puff
            button#hide5 Hide Puff