form {
  font-size: $font-size-website-default;
}

input[type=checkbox] {
  margin: 0 0.5rem;
  font-size: 2rem;
}

input[type=text] {
  margin: 0 1rem 0 0;
  font-size: 2rem;
}

span.ui-spinner {
  margin: 0.5rem 0 2rem 0;
}

div.ui-slider {
  margin: 1rem 0 2rem;
}

div.ui-progressbar {
  margin: 1rem 0 2rem;
}

section .ui-autocomplete-input {
  margin: 1rem 0 2rem;
}

section .ui-tabs {
  margin: 1rem 0 2rem;
}

#progress3 div.ui-progressbar-value {
  background-color: green;
}

section .hasDatepicker {
  margin: 1rem 0 2rem;
}

.ui-autocomplete {
  max-height: 100px;
  overflow-y: auto;
  overflow-x: hidden;
}

span.ui-selectmenu-button {
  margin: 1rem 0 2rem;
}

.ui-accordion .ui-accordion-header {
  font-size: 1.7rem;
}

.ui-accordion .ui-accordion-header span {
  margin-right: 0.5rem;
}

.fixedHeight {
  height: 160px;
}

.heavyText {
  color: red;
  font-weight: bold;
}

span#val1, span#val2 {
  margin-right: 0.5rem;
}