.example-area {
  flex: 1;
  
  margin: 1rem;
  padding: 1rem 1rem 2rem;
  border: 1px solid lighten($color-primary, 10%);

  h6 {
    padding: 0 1rem 1rem;
    border-bottom: 1px solid lighten($color-primary, 10%);
    margin: 0 0 2rem;
  }

  label {
    font-size: $font-size-website-default;
  }

  &__samples {
    // area for sample code
    padding: 0 3rem;

    h6 {
      border: none;
      margin: 1rem 0 1rem -2rem;
      padding: 0;
    }

    button {
      margin: 1rem 0;
      padding: 1rem 2rem;
      font-size: 1.8rem;
      cursor: pointer;
    }

    #box {
      position: absolute;
      height: 4rem;
      width: 4rem;
      background-color: lighten($color-secondary, 25%);
      border: 1px solid $color-primary;
    }
  }
}

.resize {
  float: left;
  background-color: rgba($color-primary, 0.25);
  color: $color-white;

  margin: 1rem;
  padding: 0.1rem 1rem 0.5rem;
  overflow: hidden;

  width: 150px;
  height: 200px;

  h2 {
    background-color: $color-secondary;
    color: $color-white;
    font-size: 2rem;
    padding: 0.2rem;
    text-align: center;
  }
}

.dragDiv {
  float: left;
  background-color: rgba($color-secondary, 0.25);
  border: 5px solid #555;
  color: $color-white;

  margin: 1rem;
  padding: 0 1rem 0.5rem;
  overflow: hidden;

  width: 200px;
  height: 140px;

  p {
    font-size: 12px;
  }

  h2 {
    background-color: $color-primary;
    color: $color-white;
    font-size: 1.2rem;
    padding: 0.2rem;
    text-align: center;
  }
}

#dropArea {
  top: 200px;
  float: right;
  padding: 1rem;
  width: 300px;
  height: 200px;
  border: 1px solid #888;
}

.dragHighlight {
  background-color: yellow;

  h2 {
    padding: 0.25rem;
  }
}

#animateColor {
  border: 5px solid #555;
  height: 300px;
  width: 300px;
  padding: 0.5rem;
  margin: 1rem;
}

#hideShow {
  border: 5px solid #555;
  height: 200px;
  width: 200px;
  padding: 0.5rem;
  margin: 1rem;
}